<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Bienvenido a mi E-commerce</h1>

        {{#if user}}
        <h2>Bienvenido, {{user.fullname}}!</h2>
        {{/if}}

        {{#if noUser}}
        <h2>Por favor, inicia sesión</h2>
        {{/if}}

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Código</th>
                    <th>Precio</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.stock}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>